.dir-a {
  width: 100%;
  height: 100vh;
  background: var(--da-bg);
  color: var(--da-fg);
  font-family: var(--da-font);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__content {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
  }
}
